<form action="/signup" method="post">
  <label for="email">Email:</label>  <input type="text" name="email">
  <label for="password">Password:</label>  <input type="text" name="password">
  <label for="password_confirmation">Password Confirmation:</label>
  <input type="text" name="password_confirmation">
  <input type="submit" value="Signup">
</form>
