<h1> Links </h1>
<p id='welcome'>Welcome <%= current_user.email %></p>
<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
    </li>
  <% end %>
</ul>
